<div class="admin-info">
	<div class="admin"><%= @employee.username %></div> 
	<div class="website"><%= @employee.website %></div>
</div>
<div class="tracking-info">
	<%# @trackers.each do |tracker| %>
		<table class='table table-bordered'>
		  <thead>
		    <tr>
		      <th>Uid</th>
		      <th>Event</th>
		      <th>Referrer</th>
		      <th>Page</th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @trackers.each do |tracker| %>
		      <tr>
		        <td><a href="/admin/<%= tracker.uid %>?type=uid"><%= tracker.uid %></a></td>
		        <td><a href="/admin/<%= tracker.event %>?type=event"><%= tracker.event %></a></td>
		        <td><a href="/admin/<%= tracker.referrer %>?type=referrer"><%= tracker.referrer %></a></td>
		        <td><%= ('http://' + tracker.url + tracker.page) %></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		      </tr>
	          <tr>
	        	<!-- <td> -->
					<!-- <table class='table table-bordered'> -->
					  <!-- <thead> -->
					    <!-- <tr> -->
							<%# tracker.events.each do |event| %>
						      <!-- <th><%#= event.event_name %></th>
							<%# end %>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr> -->
					  		<% tracker.events.each do |event| %>
						      <td><%= event.event_name %></td>
						  		
						  		<td>
						  			<%= event.value %>
						  		</td>
					  		<% end %>
					  	<!-- </tr>
					  <tbody>
					</table>
				</td> -->
	          </tr>
		    <% end %>
		  </tbody>
		</table>
	<%# end %>
	<%= will_paginate @trackers %>
</div>

<style>
	/*.tracker{
		border: 1px solid #eee;
	    padding: 10px;
	    text-align: center;
	}
	.user, .event-name, .referrer, .url{
		display: inline-block;
	}
	.user li, .event-name li, .referrer li, .url li{
		list-style: none;

	}
	
	 li{
		list-style: none;
		min-width: 100px;
		padding: 10px;
		border-bottom: 5px;
	}
	.event li.name{
		background: #00E7FF;
	}
	.event li.value{
		background: #2577A7;
	}
	.event-list{
		display: inline-block;
		height: 50px;
    	text-align: center;
    	color: white;
	}
	a:hover{
		text-decoration: none;
		color: black;
		background-color: transparent;
	}*/
</style>